      <div class="col-xs-12 col-sm-12 widget-container-col modal-body" id="widget-container-col-2">
              <div class="widget-box widget-color-blue" id="widget-box-2">
                <div class="widget-header">
                  <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                  {{title}}
                  </h5>
              </div>
                <div class="widget-body">
                  <div class="widget-main no-padding">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                          <th colspan="2">Full Name</th>
                          <td colspan="2">{{fullName}}</td>
                        </tr>
                        <tr>
                          <th colspan="2">Product</th>
                          <td colspan="2">{{product}}</td>
                        </tr>
                        <tr>
                          <th colspan="2">Quantity</th>
                          <td colspan="2">{{quantity}}</td>
                        </tr>
                        <tr>
                          <th colspan="2">Merchant</th>
                          <td colspan="2">{{merchant}}</td>
                        </tr>
                        <tr>
                          <th>Actual Balance</th>
                          <td>{{actualBalance}}</td>
						              <th>Periodic Date</th>
                          <td>{{periodicDate}}</td>
                        </tr>
                        <tr>
                          <th>Escrow Balance</th>
                          <td>{{escrowBalance}}</td>
						                <th>Pay</th>
                          <td>{{pay}}</td>
                        </tr>
						<tr>
                          <th>Deposit</th>
                          <td>{{deposit}}</td>
						              <th>Payment Date</th>
                          <td>{{paymentDate}}</td>
                        </tr>
						<tr>
                          <th colspan="2">VAT</th>
                          <td colspan="2">{{vat}}</td>
                        </tr>
                        <tr>
                          <th>Approval Status</th>
                          <td>{{approvalStatus}}</td>
						              <th>Approved Date</th>
                          <td>{{approvedDate}}</td>
                        </tr>
						 <tr>
                          <th colspan="2">Approved By</th>
                          <td colspan="2">{{approvedBy}}</td>
                        </tr>
						 <tr>
                          <th colspan="2">Application Module</th>
                          <td colspan="2">{{appMod}}</td>
                        </tr>
                        <tr>
                          <th colspan="2">Transaction Status</th>
                          <td colspan="2">{{transactionStatus}}</td>
                        </tr>
                         <tr>
                          <th colspan="2">Promotion</th>
                          <td colspan="2">{{promotion}}</td>
                        </tr>
                        <tr>
                          <th>Created By</th>
                          <td>{{createdBy}}</td>
						              <th>Created Date</th>
                          <td>{{createdDate}}</td>
                        </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div><!-- /.span -->
    
    <div class="modal-footer">
       <button type="button" class="btn btn-primary" >Approve</button>
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>