<div id="task-tab" class="tab-pane active">
        <h4 class="smaller lighter green">
          <i class="ace-icon fa fa-list"></i>
          Invoice
        </h4>

        <table class="table table-bordered table-striped">
      <thead class="thin-border-bottom">
        <tr>
          <th>
            <i class="ace-icon fa fa-caret-right blue"></i>S/N
          </th>

          <th>
            <i class="ace-icon fa fa-caret-right blue"></i>Customer
          </th>

          <th class="hidden-480">
            <i class="ace-icon fa fa-caret-right blue"></i>Amount
          </th>
          <th class="hidden-480">
            <i class="ace-icon fa fa-caret-right blue"></i>Transaction Type
          </th>
          <th class="hidden-480">
            <i class="ace-icon fa fa-caret-right blue"></i>Transaction Details
          </th>
           <th class="hidden-480">
            <i class="ace-icon fa fa-caret-right blue"></i>Merchant 
          </th>
           <th class="hidden-480">
           
          </th>
           
        </tr>
      </thead>

      <tbody>
        <!--<tr *ngFor="let hist of history">-->
          <tr>
          <td>1</td>

          <td>
            Samuel
          </td>

          <td class="hidden-480">
             6,400,000
          </td>
          <td>Crredit</td>
          <td>Details</td>
          <td>Dell</td>
          <td><i class="ace-icon fa fa-eye" (click)="openModalWithComponent()"></i></td>
        </tr>
      </tbody>
    </table>
</div>