
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Product</li>
            </ul><!-- /.breadcrumb -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    Add New Product
                </h1>
            </div>
             <!--/.page-header -->
        <div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="visible form form-horizontal" id="main-widget-container">
									<div class="row">
										<div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-3">
                      <a class="btn btn-primary" routerLink="/productmgtopt" >Back</a>
											<div class="widget-box widget-color-blue " id="widget-box-3">
												<div class="widget-header widget-header-small">
													<h6 class="widget-title">
														<i class="ace-icon fa fa-sort"></i>
														Product Details
													</h6>
												</div>

												<div class="widget-body">
													<div class="widget-main ">
														<div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="name"> Name </label>

                              <div class="col-sm-9">
                                <input type="text" id="name" name="name" [(ngModel)]="name"  class="col-xs-10 col-sm-8" />
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="barcode"> Barcode </label>
                              <div class="col-sm-9">
                                <input type="text" id="barcode" name="barcode" [(ngModel)]="barcode"  class="col-xs-10 col-sm-8" />
                                <select class="col-xs-10 col-sm-8" name="name" [(ngModel)]="name" id="orderType">
                                  <option value=""></option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="keyword"> Keyword </label>
                              <div class="col-sm-9">
                                <input type="text" id="barcode" name="barcode" [(ngModel)]="barcode"  class="col-xs-10 col-sm-8" />
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="taxrate"> Tax Rate </label>
                              <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-8" name="taxrate" [(ngModel)]="taxrate" id="taxrate">
                                  <option value=""></option>
                                </select>
                              </div>
                            </div>
                             <div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="supplier"> Supplier </label>
                              <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-8" name="supplier" [(ngModel)]="supplier" id="supplier">
                                  <option value=""></option>
                                </select>
                              </div>
                            </div>
                            <!--<div class="clearfix form-group">
                              <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                  <i class="ace-icon fa fa-check bigger-110"></i>
                                  Submit
                                </button>
                              </div>
                            </div>-->
													</div>
													</div>
												</div>
											</div>

                      <!---Product Group -->
                      <div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-3">
                      <div class="widget-box widget-color-blue " id="widget-box-3">
												<div class="widget-header widget-header-small">
													<h6 class="widget-title">
														<i class="ace-icon fa fa-sort"></i>
													Product Group
													</h6>
												</div>

												<div class="widget-body">
													<div class="widget-main no-padding">
														<div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="name"> Brand </label>

                              <div class="col-sm-9">
                                <p class="form-control-static">HP</p>
                              </div>
                            </div>
                            
                            
                            <div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="productcategory"> Product Category </label>
                              <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-8" name="productcategory" [(ngModel)]="productcategory" id="productcategory">
                                  <option value=""></option>
                                </select>
                              </div>
                            </div>
                             <div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="productsubcategory"> Product Sub-Category </label>
                              <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-8" name="productsubcategory" [(ngModel)]="productsubcategory" id="productsubcategory">
                                  <option value=""></option>
                                </select>
                              </div>
                            </div>
													</div>
													</div>
												</div>
											</div>
                      <!-- Inventory-->

                      <div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-3">
                      <div class="widget-box widget-color-blue " id="widget-box-3">
												<div class="widget-header widget-header-small">
													<h6 class="widget-title">
														<i class="ace-icon fa fa-sort"></i>
													Inventory
													</h6>
												</div>

												<div class="widget-body">
													<div class="widget-main ">
														<div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="stockqty"> Stoch Quantity </label>

                              <div class="col-sm-9">
                                <input type="number" id="stockqty" name="stockqty" [(ngModel)]="stockqty"  class="col-xs-10 col-sm-8" />
                              </div>
                            </div>
                            
                            
                            <div class="form-group">
                              <label class="col-sm-3 control-label no-padding-right" for="sku">SKU</label>
                              <div class="col-sm-9">
                                <input type="text" id="sku" name="sku" [(ngModel)]="sku"  class="col-xs-10 col-sm-8" />
                              </div>
                            </div>
													</div>
													</div>
												</div>
											</div>
                      <div class="clearfix form-group">
                              <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                  <i class="ace-icon fa fa-check bigger-110"></i>
                                  Submit
                                </button>
                              </div>
                        </div>
										</div>

										
									</form>
								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->