
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Product</li>
            </ul><!-- /.breadcrumb -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    Product
                </h1>
            </div>
             <!--/.page-header -->
        <div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="visible" id="main-widget-container">
									<div class="row">
										<div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-3">
                      <a class="btn btn-primary" routerLink="/addproduct">Add Product</a>
											<div class="widget-box widget-color-blue " id="widget-box-3">
												<div class="widget-header widget-header-small">
													<h6 class="widget-title">
														<i class="ace-icon fa fa-sort"></i>
														Details
													</h6>
												</div>

												<div class="widget-body">
													<div class="widget-main no-padding">
														<table class="table table-striped table-bordered table-hover" id="dynamic-table">
															<thead class="thin-border-bottom" >
																<tr>
																	<th>S/N</th>
																	<th>Product Image</th>
																	<th class="hidden-480">Name</th>
																	<th class="hidden-480">Sku</th>
																	<th class="hidden-480">In Stock</th>
																	<th class="hidden-480">Unit Price</th>
																	<th class="hidden-480">Product Categories</th>
																	<th class="hidden-480">Tag</th>
																	<th class="hidden-480">Date</th>
																	<th class="hidden-480">Action</th>
																</tr>
															</thead>

															<tbody>
																<tr>
																	<td class="">1</td>
																	<td><img class="img" width="30px"	 height="30px" /></td>
                                  									<td class="hidden-480">XP-200</td>
                                  									<td class="hidden-480">XP2</td>
                                  									<td class="hidden-480">43</td>
                                  									<td class="hidden-480">240.00</td>
                                  									<td class="hidden-480">Computer</td>
                                  									<td class="hidden-480">Sony Pro</td>
                                  									<td class="hidden-480">2018-01-02</td>
                                  <td><a title="View" class="btn btn-md btn-info" routerLink="/pcatdetail"><i class="ace-icon fa fa-eye" ></i></a>
                                   &nbsp;<a title="Edit" class="btn btn-md btn-danger" (click)="openEditModalWithComponent()"><i class="ace-icon fa fa-pencil" ></i></a>
																</tr>
															</tbody>
														</table>
													</div>
													</div>
												</div>
											</div>
										</div>

										
									</div>
								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->