<div id="task-tab" class="tab-pane active">
        <h4 class="smaller lighter green">
          <i class="ace-icon fa fa-list"></i>
          Transaction History
        </h4>
        <div class="col-md-12">
          <div class="col-md-8">
             <table class="table table-bordered table-striped">
        <!--<tr *ngFor="let hist of history">-->
          <tr>
            <th>Computer</th>
            <td></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>For Computer XXX</td>
          </tr>
          <tr>
            <th>Organisation</th>
            <td>HP Nigeria</td>
          </tr>
          <tr>
            <th>App Module</th>
            <td>FLAPP</td>
          </tr>
          <tr>
            <th>Product Brand</th>
            <td>HP</td>
          </tr>
    </table>
          </div>
          <div class="col-md-4">
            <img class="img img-circle" width="10px" height="10px" />
          </div>
        </div>
</div>