<div class="col-xs-12 col-sm-12 widget-container-col modal-body" id="widget-container-col-2">
              <div class="widget-box widget-color-blue" id="widget-box-2">
                <div class="widget-header">
                  <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                  {{title}}
                  </h5>
              </div>
			 
                <div class="widget-body ">
                  <div class="widget-main ">
                    <form #addCategoryForm="ngForm" class="form-horizontal" role="form" (ngSubmit)="OnSubmit(addCategoryForm)">
						
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="name"> Name </label>

							<div class="col-sm-9">
								<select class="col-xs-10 col-sm-8" name="name" [(ngModel)]="name" id="orderType">
									<option value=""></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="description"> Description </label>

							<div class="col-sm-9">
								<textarea cols="4" rows="3" name="description" [(ngModel)]="description" class="col-xs-10 col-sm-8">
								</textarea>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="symbol">Symbol</label>

							<div class="col-sm-9">
								<input type="file" id="symbol" name="symbol" [(ngModel)]="symbol"  class="col-xs-10 col-sm-8" />
							</div>
						</div>
						<div class="clearfix form-group">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-info" type="submit">
									<i class="ace-icon fa fa-check bigger-110"></i>
									Submit
								</button>
							</div>
						</div>
					</form>
                  </div>
                </div>
              </div>
            </div><!-- /.span -->
    
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>